<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>{% block title %}{% endblock %} - GearmanStatus</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="{{media}}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
			<link href="{{media}}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
			<link href="{{media}}/css/style.css" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="{{media}}/js/jquery-1.9.0.min.js"></script>
			<script type="text/javascript" src="{{media}}/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>
	<body>

		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="/"><img src="{{media}}/img/cogwheels.png" /></a>
				<ul class="nav">
					<li class="{% if app.request.requesturi == "/" %}active{% endif %}"><a href="/"><i class="icon-list"></i> Status</a></li>
					<li class="{% if app.request.requesturi == "/quota" %} active{% endif %}"><a href="/quota"><i class="icon-tasks"></i> Function quota</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-off"></i> Shutdown</a>
						<ul class="dropdown-menu">
							<li><a href="/shutdown/0">Shutdown</a></li>
							<li><a href="/shutdown/1">Shutdown gently</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">

			{% block content %}{% endblock %}

			<div id="footer">
				<img src="http://piwik.nosfire.ru/piwik.php?action_name=gs{{gs}}&amp;idsite=1&amp;rec=1" style="border:0" alt="" />
			</div>
		</div>
	</body>
</html>
